{
  "presets": [
    ["env", {
      "modules": false,
      "targets": { "browsers": ["last 2 versions", "ie >= 9"] }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}
